{% extends 'base.html' %}

{% block content %}

<p>{{ object.start_date }} - {{ object.end_date }}</p>
<p></p>


<table class="main-table white-table">
  <tr>
{% for sale in object.sale_set.all %}
    <th>{{ sale.day }}</th>
{% endfor %}
  </tr>
  <tr>
{% for sale in object.sale_set.all %}
    <td>{{ sale.value|floatformat:0 }}</td>
{% endfor %}
  </tr>
</table>
<br><br>

The "Number" for this date range:
<div class="the-number white-table">
1,234
</div>

<table class="main-table white-table">
  <tr>
{% for sale in object.sale_set.all %}
    <th>{{ sale.day }}</th>
{% endfor %}
  </tr>
  <tr>
{% for sale in object.sale_set.all %}
    <td>{{ sale.value|floatformat:0 }}</td>
{% endfor %}
  </tr>
</table>


{% endblock %}
