{% extends 'base.html' %}

{% block content %}

<h1>Projection</h1>

<p>{{ month|date:"F Y" }}</p>

<p>
  <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/projection/"><i class="fa fa-bolt"></i> Forecast <i class="fa fa-bolt"></i></a>
</p>


<h3>Rostering Budget</h3>

<table class="main-table white-table project-table">

  <tr>
    <td>
      <p>
      <p>Target <i class="fa fa-crosshairs"></i></p>
      <span class="big-number">
        25%
      </span>
      </p>
    </td>

    <td>
      <p>
      <p>Goal <i class="fa fa-flag-checkered"></i></p>
      <span class="big-number">
        -5%
      </span>
      </p>
    </td>

  </tr>

  {# Forecasted #}
  <tr>
    <td>
      Target Budget <i class="fa fa-crosshairs"></i>
    </td>

    <td>
      Goal Budget <i class="fa fa-bolt"></i>
    </td>
  </tr>

  <tr>
    {% for value in staff_target %}
    <th class="budget">
      <i class="fa fa-crosshairs"></i>  {{ value|floatformat:0 }}</th>
    {% endfor %}

    {% for value in staff_forecast %}
    <th class="forecast">
      <i class="fa fa-bolt"></i>  {{ value|floatformat:0 }}</th>
    {% endfor %}
  </tr>
</table>



<br>
<table class="main-table white-table project-table">

  {# Sales Average #}
  <tr>
    <td>Historical<br>Weekly Average</td>
    {% for value in staff_avg_historical %}
    <td>{{ value|floatformat:0 }}</td>
    {% endfor %}
  </tr>

  {# Sales Average for just this Month #}
  <tr>
    <td><b>{{ month|date:"F" }}</b><br>Weekly Average</td>
    {% for value in staff_avg_month %}
    <td>{{ value|floatformat:0 }}</td>
    {% endfor %}
  </tr>

</table>

<hr>

<h3>Sales</h3>

<table class="main-table white-table project-table">

  <tr>
    <td colspan=8>
      <p>
      <p>Goal <i class="fa fa-flag-checkered"></i></p>
      <span class="big-number">
        +5%
      </span>
      </p>
    </td>
  </tr>

  {# Forecasted #}
  <tr>
    <td>Forecasted<br> + Goal <i class="fa fa-bolt"></i> </td>
    {% for value in sales_forecast %}
    <th class="forecast"><i class="fa fa-bolt"></i>  {{ value|floatformat:0 }}</th>
{% endfor %}
</tr>
</table>
<br>
<table class="main-table white-table project-table">

  {# Sales Average #}
  <tr>
    <td>Historical<br>Weekly Average</td>
    {% for value in sales_avg_historical %}
    <td>{{ value|floatformat:0 }}</td>
    {% endfor %}
  </tr>

  {# Sales Average for just this Month #}
  <tr>
    <td><b>{{ month|date:"F" }}</b><br>Weekly Average</td>
    {% for value in sales_avg_month %}
    <td>{{ value|floatformat:0 }}</td>
    {% endfor %}
  </tr>

</table>

<hr>

<div style="width:100%;">
  <canvas id="canvas"></canvas>
</div>

<div style="width:100%;">
  <canvas id="canvas2"></canvas>
</div>


{% endblock %}


{% block scripts %}
<script>
  var lineChartData = {
    labels: [{% for sale in graph_labels %} '{{ sale.start_date }}'{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
    datasets: [{
        label: 'Multi-scalar Sales v. Payroll',
      borderColor: window.chartColors.green,
      backgroundColor: window.chartColors.green,
      fill: false,
      data: [{% for sale in graph_sales_weekly %}{{ sale.value__sum }}{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
    },  {
      label: 'Payroll',
      borderColor: window.chartColors.blue,
      backgroundColor: window.chartColors.blue,
      fill: false,
      data: [{% for staff in graph_staff_weekly %}{{ staff.value|floatformat:0 }}{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
    }]
  };

window.onload = function() {
  var ctx = document.getElementById('canvas').getContext('2d');
  window.myLine = Chart.Line(ctx, {
    data: lineChartData,
    options: {
      responsive: true,
      hoverMode: 'index',
      stacked: false,
      title: {
        display: true,
        text: 'Sales'
      },
      scales: {
          yAxes: [
              {
          type: 'linear',
          display: true,
          position: 'left'
        }],
      }
    }
  });};

  var lineChartData2 = {
    labels: [{% for sale in graph_labels %} '{{ sale.start_date }}'{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
    datasets: [{
        label: 'Multi-scalar Sales v. Payroll',
      borderColor: window.chartColors.green,
      backgroundColor: window.chartColors.green,
      fill: false,
      data: [{% for sale in graph_sales_weekly %}{{ sale.value__sum }}{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
      yAxisID: 'y-axis-1',
    },  {
      label: 'Payroll',
      borderColor: window.chartColors.blue,
      backgroundColor: window.chartColors.blue,
      fill: false,
      data: [{% for staff in graph_staff_weekly %}{{ staff.value|floatformat:0 }}{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
      yAxisID: 'y-axis-2'
    }]
  };

window.onload = function() {
  var ctx = document.getElementById('canvas2').getContext('2d');
  window.myLine = Chart.Line(ctx, {
    data: lineChartData2,
    options: {
      responsive: true,
      hoverMode: 'index',
      stacked: false,
      title: {
        display: true,
        text: 'Sales'
      },
      scales: {
          yAxes: [
              {
          type: 'linear',
          display: true,
          position: 'left',
          id: 'y-axis-1',
        }, {
          type: 'linear',
          display: true,
          position: 'left',
          id: 'y-axis-2',

          // grid line settings
          gridLines: {
            drawOnChartArea: false,
          },
        }],
      }
    }
  });};


</script>

{% endblock %}
