{% extends 'base.html' %}

{% block content %}

<p>{{ object.start_date }} - {{ object.end_date }}</p>
<p>&nbsp;</p>

<table width="100%">
  <tr>
    <td style="width: 50%; " align="left">
      {% if prev %}<a href="{% url 'week_detail' pk=prev.pk %}"><< Prev week</a>{% endif %}
    </td>
    <td style="width: 50%" align="right">
      {% if next %}<a href="{% url 'week_detail' pk=next.pk %}">Next week>></a>{% endif %}
    </td>
  </tr>
</table>

<p>&nbsp;</p>

{% include 'inputs/_main-table.html' %}
<br><br>
<div><i class="fa fa-crosshairs"></i> Actual Payroll Cost</div>
<div class="the-number white-table">
{{actual|floatformat:"0"}} {% if good %}<i class="bad fa fa-bookmark"></i>{% else %}<i class="good fa fa-check"></i>{% endif %}
</div>
<br><br>
<div style="opacity:0.7">
<div>Forecasted Target Roster "Number" for this date range:</div>
<div class="the-number white-table">
{{number|floatformat:"0"}}
</div>
<br>
</div>


<p>&nbsp;</p>
<div style="width:100%;">
  <canvas id="canvas"></canvas>
</div>



{% endblock %}


{% block scripts %}
<script>
  var lineChartData = {
    labels: [{% for sale in object.sale_set.all %} '{{ sale.day }}'{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
    datasets: [{
        label: 'Sales per day of the week',
      borderColor: window.chartColors.blue,
      backgroundColor: window.chartColors.blue,
      fill: false,
      data: [{% for sale in object.sale_set.all %}{{ sale.value|floatformat:0 }}{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
      yAxisID: 'y-axis-1',
    }/*,  {
      label: 'My Second dataset',
      borderColor: window.chartColors.blue,
      backgroundColor: window.chartColors.blue,
      fill: false,
      data: [
        randomScalingFactor(),
        randomScalingFactor(),
        randomScalingFactor(),
        randomScalingFactor(),
        randomScalingFactor(),
        randomScalingFactor(),
        randomScalingFactor()
      ],
      yAxisID: 'y-axis-2'
    }*/]
  };

window.onload = function() {
  var ctx = document.getElementById('canvas').getContext('2d');
  window.myLine = Chart.Line(ctx, {
    data: lineChartData,
    options: {
      responsive: true,
      hoverMode: 'index',
      stacked: false,
      title: {
        display: true,
        text: 'Sales'
      },
      scales: {
          yAxes: [
              {
          type: 'linear',
          display: true,
          position: 'left',
          id: 'y-axis-1',
        }/*, {
          type: 'linear',
          display: true,
          position: 'right',
          id: 'y-axis-2',

          // grid line settings
          gridLines: {
            drawOnChartArea: false,
          },
        }*/],
      }
    }
  });};

</script>

{% endblock %}
